# Banco de Dados (PostgreSQL / Supabase)
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"
DIRECT_URL="postgresql://user:password@localhost:5432/mydb"

# Autenticação e Admin
ADMIN_EMAIL="adminprimerlabs@gmail.com"
ADMIN_PASSWORD="sua_senha_segura"
JWT_SECRET="seu_jwt_secret_muito_seguro"
GOOGLE_CLIENT_SECRET="seu_google_client_secret"

# API TMDB (The Movie Database)
TMDB_API_KEY="sua_api_key_do_tmdb"
TMDB_API_READ_ACCESS_TOKEN="seu_token_de_acesso_do_tmdb"
